.search{
    margin-top:30px;
}

#title{
    padding-bottom: 30px;
}

#sub{
    padding-bottom: 50px;
}

.card{
    width: 200px;
    height: 200px;
    background-color: rgb(241, 224, 203);
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.homepageimage{
    width: 200px;
    height: 200;
    margin-right: 200; 
}


